@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 255, 255;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-[#0D001A];
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
